<app-header></app-header>
<!--<div class="form-container" id="toolbar">
    <header >
      <button (click)="logout()" class="basic-btn">Logout</button>
    </header>
    <div id="page" >
      <h2>Hey {{ name.auth.displayName }}!</h2>

      <img src="assets/images/filler.png" />
    </div>
    
</div>-->
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-todos 
      (highTasks) = "onHighTasks($event)"
      (mediumTasks) = "onMediumTasks($event)"
      (lowTasks) = "onLowTasks($event)"
      [taskEditText] = "task"
      ></app-todos>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-4">
      <app-high [tasks]="highTask" (taskEditName) = "onEdit($event)"></app-high>
    </div>
    <div class="col-xs-4">
      <app-medium [tasks]="mediumTask" (taskEditName) = "onEdit($event)"></app-medium>
    </div>
    <div class="col-xs-4">
      <app-low [tasks]="lowTask" (taskEditName) = "onEdit($event)"></app-low>
    </div>
  </div>
</div>